{% extends 'menu.html' %}

{% block content %}
    <div class="formulario">
      <h1>Fale Conosco</h1>
      <form action="/formulario" method="POST">
        <div>
          <label for="nome" for="nome">Nome: </label><br />
          <input id="nome" type="text" name="nome" required /><br />
        </div>

        <div>
          <label id="email" for="email">E-mail: </label><br />
          <input class="email" type="email" name="email" required /><br />
        </div>

        <div>
          <label id="telefone" for="telefone">Telefone: </label><br />
          <input class="telefone" type="number" name="telefone" required />
        </div>

        <div>
          <label id="assunto" for="assunto">Assunto: </label><br />
          <select class="assunto" name="assunto" id="assunto-dropdown" required>
            <option id="selecionar-opcao">Selecione uma opção</option>
            <option id="atendimento" value="1">Atendimento ao cliente</option>
            <option id="secretaria-grad" value="2">
              Secretaria de graduação
            </option>
            <option id="secretaria-pos" value="3">
              Secretaria de pós-graduação
            </option>
            <option id="financeiro" value="4">Financeiro</option>
            <option id="ouvidoria" value="5">Ouvidoria</option>
          </select>
        </div>

        <div>
          <label id="mensagem" for="mensagem">Mensagem: </label>
          <textarea
            class="mensagem"
            name="mensagem"
            placeholder="Digite aqui sua mensagem"
            minlength="50"
            maxlength="500"
            rows="4"
            required
          ></textarea>
        </div>

        <fieldset>
          <legend class="como-nos-conheceu">Como nos conheceu?</legend>
          <input type="radio" name="marketing" id="google-ads" value="1" />
          <label for="google-ads">Google ADS</label>
          <input type="radio" name="marketing" id="instagram" value="2" />
          <label for="instagram">Instagram</label>
          <input type="radio" name="marketing" id="podcasts" value="3" />
          <label for="podcasts">Podcasts</label>
          <input type="radio" name="marketing" id="tv" value="4" />
          <label for="tv">TV</label>
          <input type="radio" name="marketing" id="amigos" value="5" />
          <label for="amigos">Amigos</label>
          <input type="radio" name="marketing" id="outros" value="6" />
          <label for="outros">Outros</label>
        </fieldset>

        <div id="botoes">
          <input type="reset" name="botao" value="Limpar" class="limpar" />
          <input type="submit" name="botao" value="Enviar" class="enviar" />
        </div>
      </form>
    </div>
{% endblock %}
